html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.widget {
    max-width: 800px;
    margin: auto;
}

.ui-widget-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
}

#swatch-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 30px 30px 0px;
}

#swatch {
    padding: 8px;
}

#red, #green, #blue {
    width: 300px;
    margin: 30px;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}